#purple {
    background-color: purple;
}
#red {
    background-color: red;
}

#green {
    background-color: green;
}
#blue {
    background-color: blue;
}

#testID{
    background-color: purple;
}
#testID2{
    background-color: lavender;
}
#testID3{
    background-color: greenyellow;
}
#testID4{
    background-color: orange;
}
