nav {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    
}


#purple {
    background-color: purple;
}
#red {
    background-color: red;
}

#green {
    background-color: green;
}
#blue {
    background-color: blue;
}

#testID{
    background-color: purple;
}
#testID2{
    background-color: lavender;
}
#testID3{
    background-color: greenyellow;
}
#testID4{
    background-color: orange;
}



/* Hides whatever element has this class */
.hidden {
    display: none;
}

/* Shows whatever element has this class */
.show {
    display: auto;
}